
<app-menu ></app-menu>
<div class="content" role="main">

  <h1> Buscar Reservas</h1> 

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Día</mat-label>
    <input matInput placeholder="22/11/2020" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Otro Campo</mat-label>
    <textarea matInput placeholder="Aca puedes poner otro criteo de busqueda"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" href="/inicio" >Buscar
    <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
  </button>
  
</form>


<app-solicitudes-reservado></app-solicitudes-reservado>

 
</div>

  
