
<app-menu ></app-menu>
<div class="content" role="main">
  Buscar Reservas
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Día</mat-label>
      <input matInput placeholder="22/11/2020" value="">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Otro Campo</mat-label>
      <textarea matInput placeholder="Aca puedes poner otro criteo de busqueda"></textarea>
    </mat-form-field>
  </form>



  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>DETALLES</button>
      <button mat-button>CANCELAR</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>DETALLES</button>
      <button mat-button>CANCELAR</button>
    </mat-card-actions>
  </mat-card>
</div>

  
