<app-menu ></app-menu>

<div class="content" role="main">
    Reservar Puesto
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Día</mat-label>
          <input matInput placeholder="22/11/2020" value="">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Otro Campo</mat-label>
          <textarea matInput placeholder="Aca puedes poner otro criteo de busqueda"></textarea>
        </mat-form-field>
      </form>
</div>
      